body {
    background: white;
  }
  
  .navbar {
    background: #144ac8;
  }
  
  .navbar-item {
    color: ghostwhite;
    border: 1px solid rgb(195, 221, 227);
    border-radius: 5px;
    padding: 2px 20px;
    margin: 2px;
    font-family: Helvetica;
    font-size: 20px;
    text-decoration: none;  /* To remove underline */
  }

/* --- SCHOOLS --- */

.schoolListContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;  
  justify-content: center;
  padding: 50px;
  gap: 10px 10px;
  margin: 10px 10px; 
}

.schoolListItem {
  margin: 20px;
  border: 2px solid #144ac8;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.schoolContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;  
  justify-content: center;
  padding: 50px;
  gap: 10px 10px;
  margin: 10px 10px; 
}

.schoolName {
  text-align: center;
  margin: 20px;
}

.schoolItem {
  margin: 20px;
  border: 2px solid #144ac8;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
