<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Categories</title>
    <link rel="stylesheet" href="../css-1/bracket.css">

</head>

<body>
    <section id="bracket">
        <div class="details">Round 1</div>
        <div class="container">
            <div class="split split-one">
                <div class="round round-one current">
                    <div class="round-details">Round 1<br /><span class="date">January 1, 2022</span></div>
                    <div class="song-column">
                        <ul class="matchup">
                            <li class="team team-top">Duke<span class="score">76</span></li>
                            <li class="team team-bottom">Virginia<span class="score">82</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">Wake Forest<span class="score">64</span></li>
                            <li class="team team-bottom">Clemson<span class="score">56</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">North Carolina<span class="score">68</span></li>
                            <li class="team team-bottom">Florida State<span class="score">54</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">NC State<span class="score">74</span></li>
                            <li class="team team-bottom">Maryland<span class="score">92</span></li>
                        </ul>
                    </div>
                </div> <!-- END ROUND ONE -->

                <div class="round round-two">
                    <div class="song-column">
                        <div class="round-details">Round 2<br /><span class="date">January 2, 2022</span></div>
                        <div class="song-column">
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                            <ul class="matchup">
                                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- END ROUND TWO -->

                <!-- <div class="round round-three">
                    <div class="round-details">Round 3<br /><span class="date">January 3, 2022</span></div>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                    </ul>
                 </div> END ROUND THREE -->
            </div>

            <div class="champion">
                <div class="semis-l">
                    <div class="round-details">Semifinals <br /><span class="date">January 4, 2022</span></div>
                    <div class="song-column">
                        <ul class="matchup championship">
                            <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                        </ul>
                    </div>
                </div>
                <div class="final">
                    <i class="fa fa-trophy"></i>
                    <div class="round-details">Championship <br /><span class="date">January 5, 2022</span></div>
                    <div class="song-column">
                        <ul class="matchup championship">
                            <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                        </ul>
                    </div>
                </div>
                <div class="semis-r">
                    <div class="song-column">
                        <ul class="matchup championship">
                            <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                        </ul>
                    </div>
                    <div class="round-details">Semifinals <br /><span class="date">January 4, 2022</span></div>
                </div>
            </div>


            <div class="split split-two">
                <!-- <div class="round round-three">
                    <div class="round-details">Round 3<br /><span class="date">January 3, 2022</span></div>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                    </ul>
                 </div> END ROUND THREE -->

                <div class="round round-two">
                    <div class="round-details">Round 2<br /><span class="date">January 2, 2022</span></div>
                    <div class="song-column">
                        <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                        </ul>
                    </div>
                </div> <!-- END ROUND TWO -->
                <div class="round round-one current">
                    <div class="round-details">Round 1<br /><span class="date">January 1, 2022</span></div>
                    <div class="song-column">
                        <ul class="matchup">
                            <li class="team team-top">Minnesota<span class="score">62</span></li>
                            <li class="team team-bottom">Northwestern<span class="score">54</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">Michigan<span class="score">68</span></li>
                            <li class="team team-bottom">Iowa<span class="score">66</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">Illinois<span class="score">64</span></li>
                            <li class="team team-bottom">Wisconsin<span class="score">56</span></li>
                        </ul>
                        <ul class="matchup">
                            <li class="team team-top">Purdue<span class="score">36</span></li>
                            <li class="team team-bottom">Boise State<span class="score">40</span></li>
                        </ul>
                    </div>
                </div> <!-- END ROUND ONE -->
            </div>
        </div>
    </section>
</body>

</html>