<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Campus Bops</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class='title'>
        <h1>Welcome to Campus Bops!</h1>
        <h3>Please login or sign-up to get started.</h3>
    </div>
    <script src="../server.js"></script>
</body>

</html>