<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Campus Bops</title>
    <link rel="stylesheet" href="../css-1/style.css">
</head>

<body>
    <!-- MAIN -->
    <div class="title-image">
        <div class="title-text">
            <h1>Welcome to Campus Bops!</h1>
        </div>
    </div>
    <div class="container">
        <form class="schoolSearch" method="POST" action="/schools/">
            <label id="schoolSearchLabel" for="schools">Select a School:</label>
            <select id="schoolSearchMenu" name="schools">
                <% for( let index=0; index < schools.length; index++ ) { %>
                    <% let school=schools[index]; %>
                        <option value="<%= school.abbv %>">
                            <%= school.name %>
                        </option>
                        <% } %>
            </select>
            <input id="schoolSubmitButton" type="submit" value="Let's Go!">
        </form>
    </div>
    <script src="../server.js"></script>
</body>

</html>