<div>
    <form action="/search" method="GET">
        <label for="song">Song</label>
        <input id="song" type="text" name="song" required>

        <input type="submit" value="Search by Song">
    </form>
    <% if(req.query) { %>
        <% for (let i in songs) { %>
            <h1>SONG:
                <%= songs[i].name; %>
            </h1>
            <h2>ARTIST:
                <%= songs[i].artist; %>
            </h2>
            <h3>ALBUM:
                <%= songs[i].album; %>
            </h3>
            MINI PLAYER:
            <iframe src="https://open.spotify.com/embed/track/<%= songs[i].songId.replace(/[" ]+/g, '' ) %>"
                width="300"
                height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <% } %>
                <% } %>
</div>
<!-- <hr>
<div>
    <form action="/album" method="POST">
        <label for="album">Album</label>
        <input id="album" type="text" name="album" required>

        <input type="submit" value="Search by Album">
    </form> -->
</div>