<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools</title>
    <link rel="stylesheet" href="../css-1/school.css">
</head>

<body>
    <div class="schoolContainer">
        <% for( let i in schools ) { %>
            <% let school=schools[i]; %>
                <% school=school.toJSON() %>
                    <div class="schoolItem">
                        <h3>
                            <a href="/schools/<%= school.abbv %>">
                                <%= school.name %>
                            </a>
                        </h3>
                    </div>
                    <% } %>
    </div>

    <script src="/server.js"></script>
</body>

</html>