<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <% for( let i in schools ) { %>
        <% let school=schools[i]; %>
            <% school=school.toJSON() %>
                <p>
                    <%= school.name %>
                </p>
                <a href="/schools/<%= school.abbv %>">View School</a>
                <hr>
                <% } %>



                    <!-- <form method="POST" action="/categories/<%= //category.id %>/?_method=DELETE">
        <input type="submit" value="Delete Category">
    </form> -->
</body>

</html>