<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css-1/school.css">
    <title></title>
</head>

<body>
    <div class="schoolName">
        <h1>
            <%= school.name %>
        </h1>
    </div>
    <div class="schoolContainer">
        <% for( let i in categories ) { %>
            <% let category=categories[i]; %>
                <% category=category.toJSON(); %>
                    <div class="schoolItem">
                        <h3>
                            <%= category.name %>
                        </h3>
                        <form method="POST" action="/categories/<%= category.id %>/?_method=PUT">
                            <input type="submit" value="Edit Category">
                        </form>
                        <form method="POST" action="/categories/<%= category.id %>/?_method=DELETE">
                            <input type="submit" value="Delete Category">
                        </form>
                    </div>
                    <% } %>
    </div>
</body>

</html>