<form method="POST" action="/songs">
    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="artist">artist</label>
    <input type="text" name="artist">

    <label for="album">album</label>
    <input type="text" name="album">

    <input type="submit">
</form>