<form method="POST" action="/categories/<%= category.id %>/?_method=PUT">
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= category.name %>">

    <label for="songs">Songs</label>


    <input type="submit">
</form>