<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <a href="/categories">View All Categories</a>
    <h1>
        <%= category.name %>
    </h1>
    <a href="/categories/edit/<%= category.id %>">Edit</a>

    <form method="POST" action="/categories/<%= category.id %>/?_method=DELETE">
        <input type="submit" value="Delete Category">
    </form>
</body>

</html>